<html>
    
<h1 style="font-size:60px" >{{Title}}</h1>

<div style = "float:right">
    <button class="button"> Add Loan</button>
</div>

<head>
    <style>
    table,
    th,
    td {
        border: 1px  rgb(18, 182, 116);
        border-collapse: collapse;
    }
    </style>
</head>

<body style="text-align: center">
    <table style="inline-size:95%">
        <tr style="height:120px">
            <th style="width:10%">Id</th>
            <th style="width:15%">Book ID</th>
            <th style="width:15%">Student ID</th>
            <th style="width:15%">Checkout Date</th>
            <th style="width:15%">Due Date</th>
            <th style="width:15%">Return Date</th>
        </tr>

        <tr style="height:60px">
            <td>1</td>
            <td>2002003</td>
            <td>20203</td>
            <td>2nd Feb, 2022</td>
            <td>2nd Mar, 2022</td>
            <td>7th Feb, 2022</td>
        </tr>

        <tr style="height:60px">
            <td>2</td>
            <td>2002006</td>
            <td>20205</td>
            <td>12th Mar, 2022</td>
            <td>12th Aug, 2022</td>
            <td>12th Aug, 2022</td>
        </tr>

        <tr style="height:60px">
            <td>3</td>
            <td>2002004</td>
            <td>20207</td>
            <td>24th Sep, 2021</td>
            <td>24th Apr, 2022</td>
            <td>2nd May, 2022</td>
        </tr>

        <tr style="height:60px">
            <td>4</td>
            <td>2002005</td>
            <td>20201</td>
            <td>22nd Jul, 2022</td>
            <td>23rd Sep, 2022</td>
            <td>23rd Sep, 2022</td>
        </tr>

        <tr style="height:60px">
            <td>5</td>
            <td>2002002</td>
            <td>20209</td>
            <td>12th Sep, 2022</td>
            <td>15th Oct, 2022</td>
            <td>13th Dec, 2022</td>
        </tr>

        <tr style="height:60px">
            <td>6</td>
            <td>2002001</td>
            <td>20208</td>
            <td>17th May, 2022</td>
            <td>18th Jun, 2022</td>
            <td>20th Jun, 2022</td>
        </tr>

        <tr style="height:60px">
            <td>7</td>
            <td>2002010</td>
            <td>20204</td>
            <td>2nd Aug, 2022</td>
            <td>23rd Sep, 2022</td>
            <td>15th Oct, 2022</td>
        </tr>

        <tr style="height:60px">
            <td>8</td>
            <td>2002009</td>
            <td>20206</td>
            <td>19th Jan, 2023</td>
            <td>19th Feb, 2023</td>
            <td>19th Feb, 2023</td>
        </tr>

        <tr style="height:60px">
            <td>9</td>
            <td>2002008</td>
            <td>20210</td>
            <td>31st Aug, 2022</td>
            <td>23rd Dec, 2022</td>
            <td>4th Jan, 2023</td>
        </tr>

        <tr style="height:60px">
            <td>10</td>
            <td>2002007</td>
            <td>20202</td>
            <td>14th Jan, 2023</td>
            <td>29th Jan, 2023</td>
            <td>27th Feb, 2023</td>
        </tr>

    </table>
</body>
 
</html>
